.about {
    // about 內頁
    .content {
        .title {
            h1 {
                font-size: 40px;
            }
        }
    }
}

.box {
  @include center(1200px);
  height: 300px;
  background-color: #333;
}

@include t(){
  .box {
    @include center(800px);  
    background-color: #0116fe;
  }
}
@include m(){
// 手機板
 .box {
    width: 100%;
    background-color: #3ffe00;
 }
};

@include m(){
  
nav {
   width:  90%;
}

}


@include m(){
   h1 {
     font-size: 20px;
   }


}
