.index {
    //首頁
    .content {
        width: 100%;
        height: 300px;
      background-color: aqua;
      @include t(){
       background-color: aquamarine; 
      }
      @include m(){
       background-color: black;
      }     
  
    }
  
  }