//base
@import 'sass/base/var';
@import 'sass/base/color';
// @use "sass:math";
// component
@import 'sass/component/btn';

//layout
@import 'sass/layout/header';
@import 'sass/layout/nav';
@import 'sass/layout/login';
@import 'sass/layout/footer';
@import 'sass/layout/title';

// page
@import 'sass/page/index';
@import 'sass/page/about';
@import 'sass/page/product';

// plugin
@import 'sass/plugin/all';


//運算

.w {
  width: 10px + 2;
  height: 10 - 3px;
  padding: 10 * 3 +px;
  font: (24 / 6) +px;
}



// if else

$w : 1200;

.wrapper {
  @if $w==full {
    width: 100%;
  }

  @else if $w==fixed {
    width: 1200px;
    margin: auto;
  }

  @else {
    width: $w + px;
  }
}