// 變數
/*變數*/
$body_fontSize : 14px; //數值
$bgc : #e1e1e1;  

// basic color
$fontColor : #333;
$white : #eee;
$margin : 30px 30px 10px 10px; //list
// use color
$primaryColor : #004cfc;
$secondaryColor : #fc9300;
$infoColor : #00ffaa;
$successColor : #40ff00;
$errorColor : #fc0050;
$warningColor : #fcf400;
$titleFontSize : 40px; 
//font family
$fontFamily : "Arial, Helvetica, sans-serif"; //字串

$map :(
 key : value,
 h1 : 40px,
 h2 : 30px
); // map

$size : 10px;
$size : 20px !default;

// 轉型用
$title : "h1";
$attr : "margin";
$url: "img";

// 變數轉型 class attr img_url
#{$title} {
 font-size : 50px;
 #{$attr}: 30px;
 background-image: url('./#{$url}/aa.jpg');
}


h1 {
  $a : 20px;  //區域變數
  font-size: map-get($map, h1);
  font-weight: null; // null 屬性會被刪除
  margin-top: $size;
  padding: $a;
}


body {
//   padding: $a;
  margin: 0px;
  font-size: $body_fontSize;
  font-weight: 400;
  background-color: $bgc;
  font-family: $fontFamily;
}
.wrapper-full {
    width: 100%;
    margin: auto;
    background-color: #fff;
    min-height: 300px;
    header {
      height: 300px;
      nav {
        width: 100%;
        ul {
            list-style: none;
            li{
               display: flex;
               width: 150px;
               flex-direction: row;
               text-align: center;
               background-color: $infoColor;
               height: 80px;
               a {
                  color : #333;
                  &:hover {
                    color : #f20
                  }
               }
            }
        }
      }
    }
}

// .wrapper header {
//  height: 300px; 
// }


// .wrapper header nav ul li {
// }