// use color
$primaryColor : #004cfc;
$secondaryColor : #fc9300;
$infoColor : #00ffaa;
$successColor : #40ff00;
$errorColor : #fc0050;
$warningColor : #fcf400;


// 顏色 map
$color : (
    black : #2E3646,
    rarkgray : #5F6D7E,
    red :  #c93838,
    hotpink : #F023FD,
    green : #27B096,
    white: #fff 
);